KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/drivers/ata.o \
$(ARCHDIR)/drivers/mouse.o \
$(ARCHDIR)/drivers/pci.o \
$(ARCHDIR)/drivers/acpi.o \
$(ARCHDIR)/drivers/rtl8139.o \
$(ARCHDIR)/drivers/pcnet.o \
$(ARCHDIR)/drivers/virtio_gpu.o \
$(ARCHDIR)/drivers/rtc.o \
$(ARCHDIR)/drivers/beep.o \
$(ARCHDIR)/net/net.o \
$(ARCHDIR)/net/arp.o \
$(ARCHDIR)/net/ip.o \
$(ARCHDIR)/net/udp.o \
$(ARCHDIR)/net/tcp.o \
$(ARCHDIR)/net/socket.o \
$(ARCHDIR)/net/dns.o \
$(ARCHDIR)/net/dhcp.o \
$(ARCHDIR)/net/httpd.o \
$(ARCHDIR)/net/firewall.o \
$(ARCHDIR)/net/tls.o \
$(ARCHDIR)/crypto/sha256.o \
$(ARCHDIR)/crypto/hmac.o \
$(ARCHDIR)/crypto/aes.o \
$(ARCHDIR)/crypto/prng.o \
$(ARCHDIR)/crypto/bignum.o \
$(ARCHDIR)/crypto/rsa.o \
$(ARCHDIR)/crypto/asn1.o \
$(ARCHDIR)/crypto/ec.o \
$(ARCHDIR)/gui/gfx.o \
$(ARCHDIR)/gui/gfx_path.o \
$(ARCHDIR)/gui/gfx_ttf.o \
$(ARCHDIR)/gui/ui_theme.o \
$(ARCHDIR)/gui/ui_event.o \
$(ARCHDIR)/gui/ui_widget.o \
$(ARCHDIR)/gui/desktop.o \
$(ARCHDIR)/gui/login.o \
$(ARCHDIR)/gui/wm.o \
$(ARCHDIR)/gui/state.o \
$(ARCHDIR)/gui/filemgr.o \
$(ARCHDIR)/gui/taskmgr.o \
$(ARCHDIR)/gui/settings.o \
$(ARCHDIR)/gui/monitor.o \
$(ARCHDIR)/gui/finder.o \
$(ARCHDIR)/sys/fs.o \
$(ARCHDIR)/sys/user.o \
$(ARCHDIR)/sys/group.o \
$(ARCHDIR)/sys/env.o \
$(ARCHDIR)/sys/config.o \
$(ARCHDIR)/sys/hostname.o \
$(ARCHDIR)/sys/hash.o \
$(ARCHDIR)/sys/quota.o \
$(ARCHDIR)/sys/task.o \
$(ARCHDIR)/sys/sched.o \
$(ARCHDIR)/sys/pmm.o \
$(ARCHDIR)/sys/vmm.o \
$(ARCHDIR)/sys/syscall.o \
$(ARCHDIR)/sys/pipe.o \
$(ARCHDIR)/sys/signal.o \
$(ARCHDIR)/sys/shm.o \
$(ARCHDIR)/sys/clipboard.o \
$(ARCHDIR)/sys/pe_loader.o \
$(ARCHDIR)/sys/win32_kernel32.o \
$(ARCHDIR)/sys/win32_user32.o \
$(ARCHDIR)/sys/win32_gdi32.o \
$(ARCHDIR)/sys/win32_msvcrt.o \
$(ARCHDIR)/sys/win32_advapi32.o \
$(ARCHDIR)/app/shell.o \
$(ARCHDIR)/app/vi.o \
$(ARCHDIR)/app/test.o \
