KERNEL_ARCH_CFLAGS=-Wno-unused-parameter -Wno-sign-compare -Wno-missing-field-initializers -Wno-pointer-sign
KERNEL_ARCH_CPPFLAGS=-I$(ARCHDIR)/app/doom
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/drivers/ata.o \
$(ARCHDIR)/drivers/mouse.o \
$(ARCHDIR)/drivers/pci.o \
$(ARCHDIR)/drivers/acpi.o \
$(ARCHDIR)/drivers/rtl8139.o \
$(ARCHDIR)/drivers/pcnet.o \
$(ARCHDIR)/drivers/virtio_gpu.o \
$(ARCHDIR)/drivers/virtio_gpu_3d.o \
$(ARCHDIR)/drivers/virtio_gpu_drm.o \
$(ARCHDIR)/drivers/virtio_input.o \
$(ARCHDIR)/drivers/drm_core.o \
$(ARCHDIR)/drivers/libdrm.o \
$(ARCHDIR)/drivers/rtc.o \
$(ARCHDIR)/drivers/beep.o \
$(ARCHDIR)/net/net.o \
$(ARCHDIR)/net/arp.o \
$(ARCHDIR)/net/ip.o \
$(ARCHDIR)/net/udp.o \
$(ARCHDIR)/net/tcp.o \
$(ARCHDIR)/net/socket.o \
$(ARCHDIR)/net/dns.o \
$(ARCHDIR)/net/dhcp.o \
$(ARCHDIR)/net/httpd.o \
$(ARCHDIR)/net/firewall.o \
$(ARCHDIR)/net/tls.o \
$(ARCHDIR)/crypto/sha256.o \
$(ARCHDIR)/crypto/hmac.o \
$(ARCHDIR)/crypto/aes.o \
$(ARCHDIR)/crypto/prng.o \
$(ARCHDIR)/crypto/bignum.o \
$(ARCHDIR)/crypto/rsa.o \
$(ARCHDIR)/crypto/asn1.o \
$(ARCHDIR)/crypto/ec.o \
$(ARCHDIR)/gui/gfx.o \
$(ARCHDIR)/gui/gfx_path.o \
$(ARCHDIR)/gui/gfx_ttf.o \
$(ARCHDIR)/gui/ui_theme.o \
$(ARCHDIR)/gui/ui_event.o \
$(ARCHDIR)/gui/ui_widget.o \
$(ARCHDIR)/gui/ui_view.o \
$(ARCHDIR)/gui/ui_layout.o \
$(ARCHDIR)/gui/ui_font.o \
$(ARCHDIR)/gui/ui_fx.o \
$(ARCHDIR)/gui/ui_widgets.o \
$(ARCHDIR)/gui/ui_window.o \
$(ARCHDIR)/gui/ui_shell.o \
$(ARCHDIR)/gui/desktop.o \
$(ARCHDIR)/gui/login.o \
$(ARCHDIR)/gui/state.o \
$(ARCHDIR)/gui/filemgr.o \
$(ARCHDIR)/gui/taskmgr.o \
$(ARCHDIR)/gui/settings.o \
$(ARCHDIR)/gui/monitor.o \
$(ARCHDIR)/gui/finder.o \
$(ARCHDIR)/gui/compositor.o \
$(ARCHDIR)/gui/gpu_compositor.o \
$(ARCHDIR)/gui/wm2.o \
$(ARCHDIR)/gui/input.o \
$(ARCHDIR)/gui/menubar.o \
$(ARCHDIR)/gui/wallpaper.o \
$(ARCHDIR)/gui/anim.o \
$(ARCHDIR)/gui/icon_cache.o \
$(ARCHDIR)/gui/app.o \
$(ARCHDIR)/gui/terminal_app.o \
$(ARCHDIR)/gui/radial.o \
$(ARCHDIR)/gui/drawer.o \
$(ARCHDIR)/gui/context_menu.o \
$(ARCHDIR)/gui/calculator.o \
$(ARCHDIR)/gui/notes.o \
$(ARCHDIR)/gui/about.o \
$(ARCHDIR)/gui/minesweeper.o \
$(ARCHDIR)/sys/journal.o \
$(ARCHDIR)/sys/vfs.o \
$(ARCHDIR)/sys/procfs.o \
$(ARCHDIR)/sys/devfs.o \
$(ARCHDIR)/sys/tmpfs.o \
$(ARCHDIR)/sys/fs.o \
$(ARCHDIR)/sys/user.o \
$(ARCHDIR)/sys/group.o \
$(ARCHDIR)/sys/env.o \
$(ARCHDIR)/sys/config.o \
$(ARCHDIR)/sys/hostname.o \
$(ARCHDIR)/sys/hash.o \
$(ARCHDIR)/sys/quota.o \
$(ARCHDIR)/sys/task.o \
$(ARCHDIR)/sys/sched.o \
$(ARCHDIR)/sys/pmm.o \
$(ARCHDIR)/sys/vmm.o \
$(ARCHDIR)/sys/syscall.o \
$(ARCHDIR)/sys/pipe.o \
$(ARCHDIR)/sys/signal.o \
$(ARCHDIR)/sys/wait.o \
$(ARCHDIR)/sys/clone.o \
$(ARCHDIR)/sys/futex.o \
$(ARCHDIR)/sys/shm.o \
$(ARCHDIR)/sys/vma.o \
$(ARCHDIR)/sys/frame_ref.o \
$(ARCHDIR)/sys/clipboard.o \
$(ARCHDIR)/sys/pe_loader.o \
$(ARCHDIR)/sys/elf_loader.o \
$(ARCHDIR)/sys/linux_syscall.o \
$(ARCHDIR)/sys/win32_kernel32.o \
$(ARCHDIR)/sys/win32_user32.o \
$(ARCHDIR)/sys/win32_gdi32.o \
$(ARCHDIR)/sys/win32_msvcrt.o \
$(ARCHDIR)/sys/win32_advapi32.o \
$(ARCHDIR)/sys/win32_ws2_32.o \
$(ARCHDIR)/sys/win32_gdiplus.o \
$(ARCHDIR)/sys/win32_ole32.o \
$(ARCHDIR)/sys/win32_shell32.o \
$(ARCHDIR)/sys/win32_bcrypt.o \
$(ARCHDIR)/sys/win32_crypt32.o \
$(ARCHDIR)/sys/win32_seh.o \
$(ARCHDIR)/app/shell.o \
$(ARCHDIR)/app/vi.o \
$(ARCHDIR)/app/test.o \
$(ARCHDIR)/app/virgl_test.o \
$(ARCHDIR)/app/doom/am_map.o \
$(ARCHDIR)/app/doom/d_event.o \
$(ARCHDIR)/app/doom/d_items.o \
$(ARCHDIR)/app/doom/d_iwad.o \
$(ARCHDIR)/app/doom/d_loop.o \
$(ARCHDIR)/app/doom/d_main.o \
$(ARCHDIR)/app/doom/d_mode.o \
$(ARCHDIR)/app/doom/d_net.o \
$(ARCHDIR)/app/doom/doomdef.o \
$(ARCHDIR)/app/doom/doomgeneric.o \
$(ARCHDIR)/app/doom/doomstat.o \
$(ARCHDIR)/app/doom/dstrings.o \
$(ARCHDIR)/app/doom/dummy.o \
$(ARCHDIR)/app/doom/f_finale.o \
$(ARCHDIR)/app/doom/f_wipe.o \
$(ARCHDIR)/app/doom/g_game.o \
$(ARCHDIR)/app/doom/gusconf.o \
$(ARCHDIR)/app/doom/hu_lib.o \
$(ARCHDIR)/app/doom/hu_stuff.o \
$(ARCHDIR)/app/doom/i_cdmus.o \
$(ARCHDIR)/app/doom/i_endoom.o \
$(ARCHDIR)/app/doom/i_input.o \
$(ARCHDIR)/app/doom/i_joystick.o \
$(ARCHDIR)/app/doom/i_scale.o \
$(ARCHDIR)/app/doom/i_sound.o \
$(ARCHDIR)/app/doom/i_system.o \
$(ARCHDIR)/app/doom/i_timer.o \
$(ARCHDIR)/app/doom/i_video.o \
$(ARCHDIR)/app/doom/icon.o \
$(ARCHDIR)/app/doom/info.o \
$(ARCHDIR)/app/doom/m_argv.o \
$(ARCHDIR)/app/doom/m_bbox.o \
$(ARCHDIR)/app/doom/m_cheat.o \
$(ARCHDIR)/app/doom/m_config.o \
$(ARCHDIR)/app/doom/m_controls.o \
$(ARCHDIR)/app/doom/m_fixed.o \
$(ARCHDIR)/app/doom/m_menu.o \
$(ARCHDIR)/app/doom/m_misc.o \
$(ARCHDIR)/app/doom/m_random.o \
$(ARCHDIR)/app/doom/memio.o \
$(ARCHDIR)/app/doom/mus2mid.o \
$(ARCHDIR)/app/doom/p_ceilng.o \
$(ARCHDIR)/app/doom/p_doors.o \
$(ARCHDIR)/app/doom/p_enemy.o \
$(ARCHDIR)/app/doom/p_floor.o \
$(ARCHDIR)/app/doom/p_inter.o \
$(ARCHDIR)/app/doom/p_lights.o \
$(ARCHDIR)/app/doom/p_map.o \
$(ARCHDIR)/app/doom/p_maputl.o \
$(ARCHDIR)/app/doom/p_mobj.o \
$(ARCHDIR)/app/doom/p_plats.o \
$(ARCHDIR)/app/doom/p_pspr.o \
$(ARCHDIR)/app/doom/p_saveg.o \
$(ARCHDIR)/app/doom/p_setup.o \
$(ARCHDIR)/app/doom/p_sight.o \
$(ARCHDIR)/app/doom/p_spec.o \
$(ARCHDIR)/app/doom/p_switch.o \
$(ARCHDIR)/app/doom/p_telept.o \
$(ARCHDIR)/app/doom/p_tick.o \
$(ARCHDIR)/app/doom/p_user.o \
$(ARCHDIR)/app/doom/r_bsp.o \
$(ARCHDIR)/app/doom/r_data.o \
$(ARCHDIR)/app/doom/r_draw.o \
$(ARCHDIR)/app/doom/r_main.o \
$(ARCHDIR)/app/doom/r_plane.o \
$(ARCHDIR)/app/doom/r_segs.o \
$(ARCHDIR)/app/doom/r_sky.o \
$(ARCHDIR)/app/doom/r_things.o \
$(ARCHDIR)/app/doom/s_sound.o \
$(ARCHDIR)/app/doom/sha1.o \
$(ARCHDIR)/app/doom/sounds.o \
$(ARCHDIR)/app/doom/st_lib.o \
$(ARCHDIR)/app/doom/st_stuff.o \
$(ARCHDIR)/app/doom/statdump.o \
$(ARCHDIR)/app/doom/tables.o \
$(ARCHDIR)/app/doom/v_video.o \
$(ARCHDIR)/app/doom/w_checksum.o \
$(ARCHDIR)/app/doom/w_file.o \
$(ARCHDIR)/app/doom/w_file_impos.o \
$(ARCHDIR)/app/doom/w_main.o \
$(ARCHDIR)/app/doom/w_wad.o \
$(ARCHDIR)/app/doom/wi_stuff.o \
$(ARCHDIR)/app/doom/z_zone.o \
$(ARCHDIR)/app/doom/doomgeneric_impos.o \
$(ARCHDIR)/app/doom/doom_compat.o \
