# aarch64 kernel architecture configuration
#
# Phase 6: Full subsystem parity (FS, shell, net, crypto, users)

KERNEL_ARCH_CFLAGS=-march=armv8-a -mgeneral-regs-only \
	-Wno-unused-parameter -Wno-sign-compare -Wno-missing-field-initializers \
	-Wno-pointer-sign
KERNEL_ARCH_CPPFLAGS=-I$(ARCHDIR)/app
KERNEL_ARCH_LDFLAGS=-z max-page-size=4096
KERNEL_ARCH_LIBS=

# Use aarch64-specific kernel_main instead of the full i386 kernel.c
KERNEL_MAIN_OBJ=$(ARCHDIR)/kernel_main.o

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/exception_stubs.o \
$(ARCHDIR)/arch.o \
$(ARCHDIR)/drivers/virtio_mmio.o \
$(ARCHDIR)/drivers/virtio_blk.o \
$(ARCHDIR)/drivers/virtio_net.o \
$(ARCHDIR)/drivers/pl031_rtc.o \
$(ARCHDIR)/drivers/psci.o \
$(ARCHDIR)/drivers/pci_ecam.o \
$(ARCHDIR)/drivers/mouse_stub.o \
$(ARCHDIR)/sys/pmm.o \
$(ARCHDIR)/sys/vmm.o \
$(ARCHDIR)/sys/task.o \
$(ARCHDIR)/sys/sched.o \
$(ARCHDIR)/sys/signal.o \
$(ARCHDIR)/sys/pipe.o \
$(ARCHDIR)/sys/syscall.o \
$(ARCHDIR)/sys/linux_syscall.o \
$(ARCHDIR)/sys/shm.o \
$(ARCHDIR)/sys/vma.o \
$(ARCHDIR)/sys/frame_ref.o \
$(ARCHDIR)/sys/clipboard.o \
$(ARCHDIR)/sys/image.o \
$(ARCHDIR)/sys/msgbus.o \
$(ARCHDIR)/sys/pe_loader.o \
$(ARCHDIR)/sys/elf_loader.o \
$(ARCHDIR)/sys/fs.o \
$(ARCHDIR)/sys/vfs.o \
$(ARCHDIR)/sys/journal.o \
$(ARCHDIR)/sys/procfs.o \
$(ARCHDIR)/sys/devfs.o \
$(ARCHDIR)/sys/tmpfs.o \
$(ARCHDIR)/sys/user.o \
$(ARCHDIR)/sys/group.o \
$(ARCHDIR)/sys/env.o \
$(ARCHDIR)/sys/config.o \
$(ARCHDIR)/sys/hostname.o \
$(ARCHDIR)/sys/hash.o \
$(ARCHDIR)/sys/quota.o \
$(ARCHDIR)/net/net.o \
$(ARCHDIR)/net/arp.o \
$(ARCHDIR)/net/ip.o \
$(ARCHDIR)/net/udp.o \
$(ARCHDIR)/net/tcp.o \
$(ARCHDIR)/net/socket.o \
$(ARCHDIR)/net/dns.o \
$(ARCHDIR)/net/dhcp.o \
$(ARCHDIR)/net/httpd.o \
$(ARCHDIR)/net/firewall.o \
$(ARCHDIR)/net/tls.o \
$(ARCHDIR)/net/http.o \
$(ARCHDIR)/crypto/sha256.o \
$(ARCHDIR)/crypto/hmac.o \
$(ARCHDIR)/crypto/aes.o \
$(ARCHDIR)/crypto/prng.o \
$(ARCHDIR)/crypto/bignum.o \
$(ARCHDIR)/crypto/rsa.o \
$(ARCHDIR)/crypto/asn1.o \
$(ARCHDIR)/crypto/ec.o \
$(ARCHDIR)/app/shell.o \
$(ARCHDIR)/app/shell/cmd_fs.o \
$(ARCHDIR)/app/shell/cmd_text.o \
$(ARCHDIR)/app/shell/cmd_net.o \
$(ARCHDIR)/app/shell/cmd_user.o \
$(ARCHDIR)/app/shell/cmd_system.o \
$(ARCHDIR)/app/shell/cmd_gfx.o \
$(ARCHDIR)/app/shell/cmd_process.o \
$(ARCHDIR)/app/shell/cmd_exec.o \
$(ARCHDIR)/app/sh_parse.o \
$(ARCHDIR)/app/glob.o \
$(ARCHDIR)/app/vi.o \
$(ARCHDIR)/app/test.o \
$(ARCHDIR)/app/test/test_libc.o \
$(ARCHDIR)/app/test/test_fs.o \
$(ARCHDIR)/app/test/test_net.o \
$(ARCHDIR)/app/test/test_shell.o \
